@import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela&display=swap");
.mainNav {
  overflow: hidden;
  background-color: #36304a;
}

.mainNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 20px;
}

.mainNav a:hover {
  background-color: #ddd;
  color: black;
}

.mainNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .mainNav a:not(:first-child) {
    display: none;
  }

  .mainNav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .mainNav.responsive {
    position: relative;
  }

  .mainNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .mainNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.buttonPrimary {
  display: inline-block;
  border: none;
  padding: 15px 10px;
  text-decoration: none;
  background: #4f54f9;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.buttonPrimary:hover, .buttonPrimary:focus {
  background: #4549b4;
}

.buttonPrimary:focus {
  outline: 1px solid #ffffff;
  outline-offset: -4px;
}

.buttonPrimary:active {
  transform: scale(0.99);
}

.buttonSecondary {
  display: inline-block;
  border: none;
  padding: 15px 10px;
  text-decoration: none;
  background: #4cbb17;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.buttonSecondary:hover, .buttonSecondary:focus {
  background: #4c9a17;
}

.buttonSecondary:focus {
  outline: 1px solid #ffffff;
  outline-offset: -4px;
}

.buttonSecondary:active {
  transform: scale(0.99);
}

.buttonSmall {
  display: inline-block;
  border: none;
  padding: 10px 5px;
  text-decoration: none;
  background: #4f54f9;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.buttonSmall:hover, .buttonSmall:focus {
  background: #4549b4;
}

.buttonSmall:focus {
  outline: 1px solid #ffffff;
  outline-offset: -4px;
}

.buttonSmall:active {
  transform: scale(0.99);
}

label {
  width: 20%;
}

input {
  display: inline-block;
  width: 90%;
  padding: 0.75rem 1.5rem;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  font-size: 16px;
}

@media (max-width: 576px) {
  input {
    width: 80%;
  }
}
textarea {
  display: inline-block;
  width: 90%;
  padding: 0.75rem 1.5rem;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #ced4da;
  font-size: 16px;
  min-height: 13rem;
  margin-bottom: 15px;
}

select {
  display: inline-block;
  width: 90%;
  padding: 0.75rem 1.5rem;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  font-size: 16px;
}

#jsonForm {
  border: 0.4px solid #ced4da;
  margin-bottom: 15px;
}

.surveyTable {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}
.surveyTable table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.surveyTable table * {
  position: relative;
}
.surveyTable table td, .surveyTable table th {
  padding-left: 8px;
}
.surveyTable table thead tr {
  height: 60px;
  background: #36304a;
  color: white;
}
.surveyTable table tbody tr {
  height: 50px;
}
.surveyTable table tbody tr:last-child {
  border: 0;
}
.surveyTable table td, .surveyTable table th {
  text-align: left;
}
.surveyTable table td.l, .surveyTable table th.l {
  text-align: right;
}
.surveyTable table td.c, .surveyTable table th.c {
  text-align: center;
}
.surveyTable table td.r, .surveyTable table th.r {
  text-align: center;
}
.surveyTable .tableHead th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
.surveyTable tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.surveyTable tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}
.surveyTable tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
.surveyTable .tableColumn1 {
  width: 260px;
  padding-left: 40px;
}
.surveyTable .tableColumn2 {
  width: 160px;
}
.surveyTable .tableColumn3 {
  width: 245px;
}
.surveyTable .tableColumn4 {
  width: 110px;
  text-align: right;
}
.surveyTable .tableColumn5 {
  width: 170px;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .surveyTable table {
    display: block;
  }
  .surveyTable table > *, .surveyTable table tr, .surveyTable table td, .surveyTable table th {
    display: block;
  }
  .surveyTable table thead {
    display: none;
  }
  .surveyTable table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  .surveyTable table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  .surveyTable table tbody tr td:last-child {
    margin-bottom: 0;
  }
  .surveyTable table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  .surveyTable table tbody tr td:nth-child(1):before {
    content: "ID";
  }
  .surveyTable table tbody tr td:nth-child(2):before {
    content: "Name";
  }
  .surveyTable table tbody tr td:nth-child(3):before {
    content: "Link";
  }
  .surveyTable table tbody tr td:nth-child(4):before {
    content: "Responses";
  }
  .surveyTable table tbody tr td:nth-child(5):before {
    content: "Date";
  }
  .surveyTable .tableColumn4,
.surveyTable .tableColumn5,
.surveyTable .tableColumn6 {
    text-align: left;
  }
  .surveyTable .tableColumn4,
.surveyTable .tableColumn5,
.surveyTable .tableColumn6,
.surveyTable .tableColumn1,
.surveyTable .tableColumn2,
.surveyTable .tableColumn3 {
    width: 100%;
  }
  .surveyTable tbody tr {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .surveyTable .surveyTable {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: "Varela", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

#container {
  padding: 20px;
}

small {
  margin-top: 10px;
  display: block;
}

canvas {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  canvas {
    max-height: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
