$buttonPrimary: #4f54f9;
$buttonPrimaryHover: #4549b4;
$buttonSecondary: #4cbb17;
$buttonSecondaryHover: #4c9a17;
$buttonRed: #980000;
$buttonRedHover: #a91414;
$buttonOrange: #be6b00;
$buttonOrangeHover: #e58b1c;

$tableHover: #e5e5e5;

$white: #ffffff;
$aeroBlue: #77B6EA;
$blue: #00A6FB;
$darkBlue: #36304a;