@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela&display=swap');

@import "variables";
@import "layout/nav";
@import "layout/sections";
@import "layout/button";
@import "layout/forms";
@import "layout/table";

body {
  font-family: 'Varela', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 28px;
}

#container {
  padding: 20px;
}

small {
  margin-top: 10px;
  display:block;
}

canvas {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  canvas {
    max-height: 60%;
  }
}

pre {
  padding: 6px 10px;
  border: 1px solid #bbb;

}