@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela&display=swap');

@import "variables";
@import "layout/nav";
@import "layout/button";
@import "layout/forms";

body {
  font-family: 'Varela', sans-serif;
  padding: 2em 1em;
}

h1 {
  text-align: center;
}
